
// bg colors
$bgColor: #FAFBFF;
$bgCardColor: #FFFFFF;
$bgMainFotterNumbersColor: #F5F5F5;
$bgMainHeaderInputColor: #F9FBFF;


// bg active colors
$bgActiveStatusColor: rgba(22, 192, 152, 0.38);;
$bgInactiveStatusColor: #FFC5C5;
$bgLinksActiveColor: #5932EA;

//border colors
$mainBorderShadowColor: rgba(226, 236, 249, 0.5);
$borderColor: #EEEEEE;
$borderActiveColor: #00B087;
$borderInactiveColor: #DF0404;

// text colors
$mainTextColor:#000000;
$mainTableTextColor: #292D32;
$mainFooterTextColor: #404B52;
$mainHeaderTitleMembersColor: #16C098;
$linksTextColor: #9197B3;
$tableTextColor: #B5B7C0;
$activeLinkTextColor:#FFFFFF;
$versionTextColor: #838383;
$userInfoTextColor: #757575;

// text active colors
$activeStatusTextColor: #008767;
$inactiveStatusTextColor: #DF0404;

